<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html {% block extra-html %}{% endblock %}>
<head>
    {% block chartbeat-top %}<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>{% endblock %}
    
    <!-- METADATA -->
    <title>{% block title %}Los Angeles Times{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}data desk, los angeles times, latimes, l.a. times{% endblock %}" />
    {% block emulate-ie7 %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="http://d1qqc1e9kvmdh8.cloudfront.net/img/favicon.ico">
    {% block extra-meta %}{% endblock %}
    
    <!-- CSS -->
    <link href="http://d1qqc1e9kvmdh8.cloudfront.net/css/style-0.24.css" media="all" rel="stylesheet" type="text/css" />
    {% if LEAFLET %}
        <link href="http://d1qqc1e9kvmdh8.cloudfront.net/js/leaflet-{% if LEAFLET_VERSION %}{{ LEAFLET_VERSION }}{% else %}0.5.0{% endif %}/leaflet.css" media="all" rel="stylesheet" type="text/css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="http://d1qqc1e9kvmdh8.cloudfront.net/js/leaflet-{% if LEAFLET_VERSION %}{{ LEAFLET_VERSION }}{% else %}0.5.0{% endif %}/leaflet.ie.css" /><![endif]-->
    {% endif %}
    {% block extra-css %}
    {% endblock %}
    
    <!-- JAVASCRIPT -->
    {% block jquery %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>{% endblock %}
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAHIAK-cNeRHqEa2rZN_8ojRR_JaWt-qqAK1ijXjq80nxiBFAzoRQ5cVR_J40prGXzcVU9JpeOU-01dA"></script>
    <script type="text/javascript">
        google.load("feeds", "1");
    </script>
    {% block underscore %}<script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/underscore-1.4.4-min.js" type="text/javascript"></script>{% endblock %}
    {% if GMAPS %}
        {% block gmaps %}<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>{% endblock %}
    {% endif %}
    {% if GEOCODIFY %}
        {% if not GMAPS %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        {% endif %}
        <script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/jquery.geocodify-{% if GEOCODIFY_VERSION %}{{ GEOCODIFY_VERSION }}{% else %}0.1{% endif %}-min.js" type="text/javascript"></script>
    {% endif %}
    {% if LEAFLET %}
        <script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/leaflet-{% if LEAFLET_VERSION %}{{ LEAFLET_VERSION }}{% else %}0.5.0{% endif %}/leaflet.js" type="text/javascript"></script>
    {% endif %}
    <script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/navigation-1.3-min.js" type="text/javascript"></script>
    {% block extra-js %}{% endblock %}
    
    <!-- RSS -->
    {% block extra-rss %}{% endblock %}
    
    {% block extra-head %}{% endblock %}
</head>
<body {% block extra-body %}{% endblock %} >

    <div id="container" class="">
        
        <div id="branding">
            <div id="masthead">
                <!-- CLASSIFIED BAR -->
                <div id="classified-bar" class="clearfix">
                    {% include "datadesk/navigation/classified-bar.html" %}
                </div><!-- close #classified-bar -->
                
                <!-- HEADER -->
                <div id="header" class="   smallLogo clearfix">
                    <div id="headerAd" id="headerAdHolder1"></div>
                    <div id="logo">
                        <a href="http://www.latimes.com" alt="Home" title="latimes.com">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/latimes_logo.gif" alt="latimes.com"/>
                        </a>
                    </div><!-- close #logo -->
                    <span id="sectionBreadcrumb">
                        <a href="{% block seactionhede-link %}http://projects.latimes.com/index/{% endblock %}">
                            {% block sectionhede %}Data Desk{% endblock %}
                        </a>
                    </span>
                </div><!-- close #header -->
                
                <!-- MENU -->
                <div id="navigation" class="clearfix">
                    {% include "datadesk/navigation/menu.html" %}
                </div><!-- close #navigation -->
                
                <!-- INIT FOR NAVIGATION FEATURES -->
                <script type="text/javascript">
                    latnav.boot({% block defaulttabpath %}"http://www.latimes.com/news/local"{% endblock %}, {% block lowertabpath %}"http://crime.latimes.com/"{% endblock %});
                </script>
            </div><!-- close #masthead -->
            
            {% block billboard-ad %}
            {% endblock %}
        
        </div><!-- close #branding -->
        
        <ul id="hotLinks"></ul>
        
        {% block banner-ad %}
            {% include "datadesk/ads/banner.html" %}
        {% endblock %}
        
        <div class="clear pad5vert"></div>
        
        <!-- CONTENT BODY -->
        <div id="content" {% block extra-content %}{% endblock %}>
            
            <div class="content-body">
                {% block content %}{% endblock %}
            </div>
            
            <div>
            {% block footer %}{% endblock %}
            </div>
            
        </div>

        {% block rightrail %}
            <div id="rail">
                {% include "datadesk/ads/cube.html" %}
            </div>
        {% endblock %}
                
        <div id="contentBottom">
            
            {% block mezzanine %}
                {% include "datadesk/navigation/mezzanine.html" %}
            {% endblock %}
            
            <div class="clear"></div>
            
            {% block footer-ad %}
                {% include "datadesk/ads/footer.html" %}
            {% endblock %}
            
            
        </div><!-- close #bottomContainer -->
            

        <div class="clear"></div>
    
        <!-- FOOTER -->
        <div id="footer">
   
            {% include "datadesk/navigation/footer.html" %}

        </div><!-- close #footer -->

        <!-- banner ad -->
        {% block navigation-ad %}
            {% include "datadesk/ads/navigation.html" %}
        {% endblock %}

        {% block stats %}

            <!-- STATISTICS AND TRACKING BELOW -->
            <!-- Google Analytics code -->
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{% block google-analytics-id %}UA-22575524-1{% endblock %}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>

            {% block omniture %}
                <script type="text/javascript">
                    ((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
                        // Page naming convention:
                        // <site-slug>:<app-slug>:<path>:<datadesk-slug>-<page-slug>:<content-type>.
                        // Example:
                        // lat:projects.latimes.com:local:data-pat-tillman:graphic.
                        // (Don't miss the period at the end.)
                        pageName: 'lat:{% block omniture-pageName %}{% endblock %}.',
                        channel: '{% block omniture-channel %}local{% endblock %}', // Path
                        server: '{% block omniture-server %}www.latimes.com{% endblock %}', // Full domain
                        hier1: 'latimes:{% block omniture-full-tribune-path %}local{% endblock %}', // Path (with latimes prefix)
                        hier2: '{% block omniture-full-latimes-path %}local{% endblock %}', // Path (again)
                        prop2: '{% block omniture-base-latimes-path %}local{% endblock %}', // Path (again!)
                        prop38: '{% block omniture-contenttype %}graphic{% endblock %}', // Content type
                        prop57: 'D=c38',
                        eVar20: 'latimes',
                        eVar21: 'D=c38',
                        eVar34: 'D=ch',
                        eVar35: 'D=gn'
                    });
                </script>
                <script src="http://www.latimes.com/thirdpartyservice?disablenav=true"></script>
            {% endblock %}

        {% endblock %}

    </div><!-- close #container-->

{% block body-bottom %}
{% endblock %}

{% block chartbeat-bottom %}
<script type='text/javascript'>
    var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = {% block chartbeat-uid %}3908{% endblock %};
    _sf_async_config.domain = '{% block chartbeat-domain %}www.latimes.com{% endblock %}';
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = '{% block chartbeat-sections %}{% endblock %}';
    _sf_async_config.authors = '{% block chartbeat-authors %}Data Desk{% endblock %}';
    /** CONFIGURATION END **/
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
{% endblock %}

</body>
    <!--Good with data?-->
    <!--Tired of grinding on the same old apps?-->
    <!--Want to use your skills in defense of truth, justice and the American way?-->
    <!--Email ben.welsh@latimes.com and let me know you're out there.-->
</html>
