<!DOCTYPE html>
<html lang="en" {% block extra-html %}{% endblock %}>
<head>
    <!-- METADATA -->
    <title>{% block title %}NICAR 2015 Django for Data Analysis{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8" />
        {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="http://d1qqc1e9kvmdh8.cloudfront.net/img/favicon.ico">
        {% block extra-meta %}{% endblock %}
    {% endblock %}

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/css/ngux-tophat-0.2.3.min.css" />
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.3.2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/css/ngux-tophat-responsive-0.2.3.min.css" /> 
    {% endblock %}

    {% block extra-css %}{% endblock %}

    <!-- JAVASCRIPT -->
    {% block js %}
    {% block html5shiv %}
    <!--[if lt IE 9]>
          <script type="text/javascript" src="http://d1qqc1e9kvmdh8.cloudfront.net/js/html5shiv.js"></script>
     <![endif]-->
    {% endblock %}
    {% block jquery %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>{% endblock %}
    {% block bootstrap %}<script type="text/javascript" src="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.3.2/js/bootstrap.min.js"></script>{% endblock %}
    {% block underscore %}<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.1/underscore-min.js" type="text/javascript"></script>{% endblock %} 
    {% endblock %}

    {% block extra-js %}{% endblock %}
    {% block extra-rss %}{% endblock %}
    {% block extra-head %}{% endblock %}
</head>
<body>
    <!-- NAV -->
    {% block nav %}
    <nav title="Navigation">
        {% include "ngux-tophat/nav/default.html" %}
    </nav>
    {% endblock %}

    {% block container %}
    <!-- CONTENT GOES HERE -->
    <div class="container" id="container">        
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}

    <footer>
    {% block footer %}
        <div id="footer-container">
            <div id="footer">
            </div>
        </div>
    {% endblock %}
    </footer>

{% block body-bottom %}{% endblock %}

</body>
    <!--Good with data?-->
    <!--Tired of grinding on the same old apps?-->
    <!--Want to use your skills in defense of truth, justice and the American way?-->
    <!--Email datadesk@latimes.com and let us know you're out there.-->
</html>
