<table class="cubeAd">
    <tbody>
        <tr><td class="adLabel">Advertisement</td></tr>
        <tr>
            <td valign="middle">
                <div class="miscAd cube">
                    <script language="JavaScript"  type="text/javascript">ord=Math.random()*10000000000000000;document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/trb.latimes/news/datadesk;tile=3;ptype=sf;pos=1;sz=300x250;ord=' + ord + '?" type="text/javascript"><\/script>');</script><noscript><a href="http://ad.doubleclick.net/jump/trb.latimes/news/datadesk;ptype=sf;pos=1;tile=3;sz=300x250;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/trb.latimes/news/datadesk;ptype=sf;pos=1;tile=3;sz=300x250;ord=123456789?" width="300" height="250" border="0" alt=""></a></noscript>
                </div>
            </td>
        </tr>
    </tbody>
</table>
