<div class="module blurb ">
    <div style="border-top:1px #cccccc solid;  border-bottom:1px #cccccc solid; padding:5px 0; margin-bottom: 34px;">
        <div style="margin-left: 138px;">
            <a style="color:#000000; font-weight: bold;" href="https://myaccount.latimes.com/select_pub.asp?p_coupon=840001">
                <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/ink-logo.jpg" 
                    border="0" width="24" height="25" alt="Subscribe to The Los Angeles Times" style="float: left; margin-right: 20px;">
                    Enjoy more stories like this for <span style="font-size:22px;">only $1 a week</span>. Click here to order The Times</a>.
        </div>
    </div>
</div>
