<!DOCTYPE html>
<html lang="en" {% block extra-html %}{% endblock %}>
<head>
    {% block chartbeat-top %}<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>{% endblock %}
    
    <!-- METADATA -->
    <title>{% block title %}Los Angeles Times{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}data desk, los angeles times, latimes, l.a. times{% endblock %}" />
    {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="http://d1qqc1e9kvmdh8.cloudfront.net/img/favicon.ico">
    {% block extra-meta %}{% endblock %}

    <!-- CSS -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.2.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.2.2/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="http://d1qqc1e9kvmdh8.cloudfront.net/css/responsive-0.10.css" />
    {% endblock %}
    {% block extra-css %}{% endblock %}
    
    <!-- JAVASCRIPT -->
    {% block jquery %}<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>{% endblock %}
    {% block bootstrap %}<script type="text/javascript" src="http://d1qqc1e9kvmdh8.cloudfront.net/bootstrap/2.2.2/js/bootstrap.min.js"></script>{% endblock %}
    {% block underscore %}<script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/underscore-1.4.4-min.js" type="text/javascript"></script>{% endblock %} 
    
    {% block extra-js %}{% endblock %}
    {% block extra-rss %}{% endblock %}
    {% block extra-head %}{% endblock %}
</head>
<body {% block extra-body %}{% endblock %} >
    <!-- CONTENT BODY -->
    {% include 'responsive/bootstrap_nav_nomenu.html' %}

    <div class="container" id="container">

        {% block banner-ad %}
            <div id="banner" class="hidden-phone">
                {% include "responsive/ads/banner.html" %}
            </div>
        {% endblock %}
        
        {% block content %}
        {% endblock %}
        
        {% block footer %}
        <div id="footer" class="serif">
            <a href="http://www.latimes.com">
                <img src="http://www.latimes.com/media/graphic/2010-02/52101671.png" alt="footer logo" style="width:225px; height:30px">
            </a>
            <div id="footertext">
                <ul class="service serif">
                    <li id="footer-item-1"><a href="http://www.latimes.com/terms" >Terms of Service</a> |</li>
                    <li id="footer-item-2"><a href="http://privacy.tribune.com/" >Privacy Policy</a> |</li>
                    <li id="footer-item-3"><a href="http://www.latimes.com/lat-about-our-ads,0,3875412.htmlstory">About Our Ads</a> |</li>
                    <li id='footer-item-4'>Los Angeles Times, 202 West 1st Street, Los Angeles, California, 90012 |</li>
                    <li id='footer-item-5'>Copyright <script type="text/javascript">var theDate=new Date(); document.write(theDate.getFullYear())</script></li>
                </ul>
            </div>
            <div class="family">
                <i>
                    <a href="http://www.tribune.com">A Tribune Newspaper website</a>
                </i>
            </div>
        </div>
        {% endblock %}
    </div>


    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    {% block stats %}
        <!-- STATISTICS AND TRACKING BELOW -->
        <!-- Google Analytics code -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{% block google-analytics-id %}UA-22575524-1{% endblock %}']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <!-- SiteCatalyst code version: H.1.
        Copyright 1997-2005 Omniture, Inc. More info available at
        http://www.omniture.com -->
        <script type="text/javascript" src="http://www.latimes.com/hive/javascripts/metrics/s_code_trb.js"></script>
        <script language="JavaScript">
        <!--
        {% block omniture %}
        s.pageName="{% block omniture-pageName %}Data Desk - Latimes.com / news / local - db.{% endblock %}";
        s.server="latimes.com"; 
        s.channel="Latimes.com:news:local";

        s.prop38="database";
        s.eVar21="database";
        s.prop20=""

        /* E-commerce Variables */
        s.events=""; 
        s.eVar20="";

        s.hier1="Latimes.com:news:local"; 
        s.hier2="news:local";
        s.hier4="news:local";
        {% endblock %}

        //AD Block Detection
        //Description:     Check if any IMG, IFRAME, or SCRIPT elements are ad blocked (set to not display).
        //        Also check for the occurance of any Norton installed code to block popups or ads ( ie.)SymError ).
        //        Only need to find 1 occurrance of any of the above to confirm ad blocking is used. 
        //        No need to continue searching through other portions of the page.

        var imgArray = document.images;
        var iframeArray = document.getElementsByTagName("iframe");
        var scriptArray = document.getElementsByTagName("script");
        var isAdBlocked = 0;


        if(window.SymError || window.SymWinOpen || window.SymRealWinOpen)
        {    isAdBlocked=1; }

        if (!isAdBlocked)
        {    for (var i=0; i<imgArray.length; i++)
            {        if(imgArray[i].style.display == 'none')
                {            isAdBlocked=1;            break;} }    }

        if (!isAdBlocked)
        {    for (var j=0; j<iframeArray.length; j++)
            {    if (iframeArray[j].style.display == 'none')
                {            isAdBlocked=1;            break;} }    }

        if (!isAdBlocked)
        {    for (var j=0; j<scriptArray.length; j++)
            {        if (scriptArray[j].style.display == 'none')
                {            isAdBlocked=1;            break;} }    }

        if(isAdBlocked)
        {    s.prop50="ad blocking";}

        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code)//-->  </script>
        <script language="JavaScript"><!--
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        //--></script><!--/DO NOT REMOVE/-->
        <!-- End SiteCatalyst code version: H.1. -->

        <!-- START REVENUE SCIENCE PIXELLING CODE -->
        <script type="text/javascript" src="http://js.revsci.net/gateway/gw.js?csid=B08725"></script>
        <script type="text/javascript">
        <!--
            DM_addEncToLoc("Site", (s.server));
            DM_addEncToLoc("channel", (s.channel));
            DM_addEncToLoc("keyword", (s.prop3));
            DM_cat(s.hier1);
            DM_tag();
        // -->
        </script>
        <!-- END REVENUE SCIENCE PIXELLING CODE -->
        <img width="1" alt="" height="1" src="http://pixel1739.everesttech.net/1739/p?ev_transid=121509852926119682678&amp;ev_Latimes.com_news_s_pageview=1">
    {% endblock %}

{% block body-bottom %}{% endblock %}

{% block chartbeat-bottom %}
<script type="text/javascript">
var _sf_async_config={};
    /** CONFIGURATION START **/
    _sf_async_config.uid = {% block chartbeat-uid %}3908{% endblock %};
    _sf_async_config.domain = '{% block chartbeat-domain %}www.latimes.com{% endblock %}';
    _sf_async_config.useCanonical = true;
    _sf_async_config.sections = '{% block chartbeat-sections %}{% endblock %}';
    _sf_async_config.authors = '{% block chartbeat-authors %}Data Desk{% endblock %}';
    /** CONFIGURATION END **/
    (function(){
      function loadChartbeat() {
        window._sf_endpt=(new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
         loadChartbeat : function() { oldonload(); loadChartbeat(); };
    })();
</script>
</script>
{% endblock %}
</body>
    <!--Good with data?-->
    <!--Tired of grinding on the same old apps?-->
    <!--Want to use your skills in defense of truth, justice and the American way?-->
    <!--Email datadesk@latimes.com and let us know you're out there.-->
</html>
