<div class="three-tabs">

<div class="tab-holder">
    <ul>
        <li class="tab curTab"><a href="" name="most-viewed">Most Viewed</a></li>
        <!-- <li class="tab"><a href="" name="most-emailed">Most Emailed</a></li> -->
        <li class="tab"><a href="" name="latest">The Latest</a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="list-holder">

<div id="most-viewed-container" class="tab-content">
</div>

<div id="latest-container" class="tab-content">
</div>

</div>

</div>

<div class="tab-footer">
    
</div>
