<div id="siteOverview">
    <ul class="siteOverview-main">
     <li>
      <a target="_parent" class="mainNav" href="http://www.latimes.com/news/custom/corrections/">Corrections</a>
       
     </li>
    </ul>
    <ul class="siteOverview-main">
     <li>
      <a href="http://www.latimes.com/features/horoscopes/" class="mainNav" target="_parent">Horoscopes</a>
     </li>
    </ul>
    <ul class="siteOverview-main">
     <li>
      <a href="http://mediakit.latimes.com/" class="mainNav" target="_parent">Media Kit</a>
     </li>
    </ul>
    <ul class="siteOverview-main">
     <li>
      <a href="http://www.latimes.com/about/mediagroup/" class="mainNav" target="_parent">About Us</a>
     </li>
    </ul>
    <ul class="siteOverview-main">
     <li>
      <a href="http://www.latimes.com/about/mediagroup/la-mediagroup-contactus,0,7698150.htmlstory" class="mainNav" target="_parent">Contact Us</a>
       
     </li>
    </ul>
    <ul class="siteOverview-main">
     <li>
      <a href="http://www.latimes.com/about/sitemap/" class="mainNav" target="_parent">Site Map</a>
     </li>
    </ul>
 <div class="clear"></div>
</div><!-- close #siteOverview -->

<div id="footerContainer">

    <div id="footerlogo">
      <a href="/"><img id="siteFooter" alt="footer logo" src=
      "http://d1qqc1e9kvmdh8.cloudfront.net/img/footer-logo.png" name=
      "siteFooter" /></a>
    </div>

    <div id="footertext">

        <ul>

            <li class="nav">

                <ul class="links">
                    <li id="footer-item-3"><a href="http://www.burbankleader.com/" >Burbank Leader</a> |</li>
                    <li id="footer-item-3"><a href="http://www.coastlinepilot.com/" >Coastline Pilot</a> |</li>
                    <li id="footer-item-3"><a href="http://www.dailypilot.com/" >Daily Pilot</a> |</li>
                    <li id="footer-item-3"><a href="http://www.hbindependent.com/" >Huntington Beach Independent</a> |</li>
                    <li id="footer-item-3"><a href="http://www.glendalenewspress.com/" >News Press</a> |</li>
                    <li id="footer-item-3"><a href="http://www.pasadenasun.com/">Pasadena Sun</a> |</li>
                    <li id="footer-item-3"><a href="http://lacanadaonline.com/" >Valley Sun</a> |</li>
                    <li id="footer-item-3"><a href="http://www.ktla.com/" >KTLA</a> |</li>
                    <li id="footer-item-3"><a href="http://www.vivelohoy.com/" >Hoy</a> |</li>
                    <li id="footer-item-3"><a href="http://www.latimesmagazine.com/">LA, Los Angeles Times Magazine</a> |</li>
                </ul>

                <ul class="links">
                    <li id="footer-item-3"><a href="http://www.baltimoresun.com" >Baltimore Sun</a> |</li>
                    <li id="footer-item-4"><a href="http://www.chicagotribune.com" >Chicago Tribune</a> |</li>
                    <li id="footer-item-5"><a href="http://www.dailypress.com" >Daily Press</a> |</li>
                    <li id="footer-item-6"><a href="http://www.courant.com" >Hartford Courant</a> |</li>
                    <li id="footer-item-7"><a href="http://www.latimes.com" >Los Angeles Times</a> |</li>
                    <li id="footer-item-8"><a href="http://www.orlandosentinel.com" >Orlando Sentinel</a> |</li>
                    <li id="footer-item-9"><a href="http://www.sun-sentinel.com" >Sun Sentinel</a> |</li>
                    <li id="footer-item-10"><a href="http://www.mcall.com" >The Morning Call</a></li>
                </ul>

                <div class="clear pad5vert"></div>
                
                <ul class="links">
                    <li id="footer-item-1"><a href="http://www.latimes.com/terms" >Terms of Service</a> |</li>
                    <li id="footer-item-2"><a href="http://privacy.tribune.com/" >Privacy Policy, Updated 10/19/11</a> |</li>
                    <li id="footer-item-3"><a href="http://www.latimes.com/lat-about-our-ads,0,3875412.htmlstory">About Our Ads</a> |</li>
                    <li id='footer-item-4'>Los Angeles Times, 202 West 1st Street, Los Angeles, California, 90012 |</li>
                    <li id='footer-item-5'>Copyright <script type="text/javascript">var theDate=new Date(); document.write(theDate.getFullYear())</script></li>
                </ul>

            </li>

            <li>
                <p></p>     
            </li>
        
        </ul> 
    
    </div><!-- close #footerText -->
    
    <div class="clear pad5vert"></div>

    <div class="family">
        <i>
            <a href="http://www.tribune.com">A Tribune Newspaper website</a>
        </i>
    </div>

</div>
