<div id="layerOne">
    <ul id="root">
        <li class="navLink hideMainNav">
            <a href="http://theenvelope.latimes.com" class="mainNav">
                <span>HOME</span>
            </a>
            <ul class="level2">
                <li>
                    <a href="#"><b></b></a>
                </li>
            </ul>
        </li><!-- close .navLink hideMainNav -->
        
        <!-- NEWS NAV -->
        <li class="navLink">
            <a href="http://www.latimes.com/news/local" class="mainNav"><span>News &amp; Blogs</span></a>
            <ul class="level2">
                <li>
                    <a href="http://latimesblogs.latimes.com/movies/">24 Frames</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/gossip/">Ministry of Gossip</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/showtracker/">Show Tracker</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/buzzmeter/la-oscars-buzzmeter-2011-best-picture,0,5454809.htmlstory">Buzzmeter</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/movies/patrick-goldstein/">Big Picture</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/music_blog/">Pop &amp; Hiss</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/culturemonster/">Culture Monster</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/movies/reviews/">Movie Reviews</a>
                </li>
             </ul><!-- close .level2 -->
        </li><!-- close .NavLink -->

        <!-- AWARDS NAV -->
        <li class="navLink ">
            <a href="http://theenvelope.latimes.com/awards/" class="mainNav"  ><span>Awards Shows</span></a>
            <ul class="level2">
                <li>
                    <a href="http://theenvelope.latimes.com/awards/oscars/">Oscars</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/globes/">Golden Globes</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/grammys/">Grammys</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/emmys/">Emmys</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/tonys/">Tonys</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/sag/">SAG Awards</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/spirit/">Indie Spirits</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/guild/">Guild Awards</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/awards/critics/">Critics Awards</a>
                </li>
            </ul>
        </li>    
        
        <!-- GALLERIES NAV -->
        <li class="navLink ">
            <a href="http://theenvelope.latimes.com/galleries/" class="mainNav"><span>Galleries</span></a>
            <ul class="level2">
                <li>
                    <a href="http://theenvelope.latimes.com/galleries/photo/redcarpet/">Red Carpet Photos</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/galleries/photo/panorama/">Panoramic Photos</a>
                </li>
                <li>
                    <a href="http://www.latimes.com/entertainment/news/hollywoodbacklot/">Hollywood Backlot</a>
                </li>
                <li>
                    <a href="http://www.latimes.com/entertainment/news/la-ca-2011-celebrities_pictures,0,2884044.photogallery">Celebrity Portraits</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/galleries/photo/archive/">Archive Photos</a>
                </li>
            </ul>
        </li>
        
        <!-- VIDEOS NAV -->
        <li class="navLink ">
            <a href="http://theenvelope.latimes.com/videos/" class="mainNav"><span>Videos</span></a>
            <ul class="level2">
                <li>
                    <a href="http://latimesblogs.latimes.com/movies/trailers/">Trailers</a>
                </li>
                <li>
                    <a href="http://www.latimes.com/entertainment/news/reviews/movies/">Movie Reviews</a>
                </li>
                <li>
                    <a href="http://latimesblogs.latimes.com/gossip/red-carpet/">Red Carpet</a>
                </li>
                <li>
                    <a href="http://www.latimes.com/entertainment/news/movies/moviesneaks/">Sneaks</a>
                </li> 
           </ul>
        </li>
        
        <!-- FACTS NAV -->
        <li class="navLink ">
            <a href="http://theenvelope.latimes.com/factsheets/" class="mainNav"  ><span>Facts &amp; Dates</span></a>
            <ul class="level2">
                <li>
                    <a href="http://theenvelope.latimes.com/factsheets/showinfo/">Awards Calendar</a>
                </li>
                <li class=" ">
                    <a href="http://theenvelope.latimes.com/factsheets/env-facts-links,0,7005557.htmlstory">Online Resources</a>
                </li>
                <li>
                    <a href="http://theenvelope.latimes.com/buzzmeter/la-oscars-buzzmeter-2011-best-picture,0,5454809.htmlstory">Buzzmeter</a>
                </li>
                <li>
                    <a href="http://projects.latimes.com/hollywood/star-walk/">Hollywood Star Walk</a>
                </li>
            </ul>
        </li>

        <!-- BUZZMETER NAV -->
        <li class="navLink ">
            <a href="http://theenvelope.latimes.com/buzzmeter/la-oscars-buzzmeter-2011-best-picture,0,5454809.htmlstory" class="mainNav"  ><span>Buzzmeter</span></a>
            <ul class="level2">
                <li>
                    <a href="http://theenvelope.latimes.com/buzzmeter/la-oscars-buzzmeter-2011-best-picture,0,5454809.htmlstory">Oscars</a>
                </li>
                <li>
                    <a href="http://www.latimes.com/la-grammys-buzzmeter-2011-song-of-the-year,0,766037.htmlstory">Grammys</a>
                </li>
            </ul>
        </li>    

        <!-- SHOP NAV -->
        <li class="navLink shop">
            <a href="http://events.latimes.com/envelope/" class="mainNav">
                <span>Screening Series</span>
            </a>
            <ul class="level2 emptySubNav">
                <li>
                    <a href="javascript:void(0);">&nbsp;</a>
                </li>
            </ul>
        </li>    
    </ul><!-- close #root -->
</div><!-- close #LayerOne -->
