<div class="mezzanine for5">
    <div>
        <div></div>
        <div>
            <div class="header">
                <a href="http://projects.latimes.com/index/">More from The Times&rsquo; Data Desk</a>
            </div>
            <ul>
                <li class="mezzitem">
                    <div>
                        <a href="http://projects.latimes.com/mapping-la/neighborhoods/" class="mezzphoto">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/thumb-mapping-la-187x105.png" width="187" height="105"> 
                        </a>
                        <h3>
                            <a href="http://projects.latimes.com/mapping-la/neighborhoods/">
                                Mapping L.A.: Neighborhoods
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="mezzitem">
                    <div>
                        <a href="http://projects.latimes.com/homicide/" class="mezzphoto">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/thumb-homicide-187x105.jpg" width="187" height="105"> 
                        </a>
                        <h3>
                            <a href="http://projects.latimes.com/homicide/">
                                The Homicide Report
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="mezzitem">
                    <div>
                        <a href="http://projects.latimes.com/value-added/" class="mezzphoto">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/thumb-schools-187x105.png" width="187" height="105"> 
                        </a>
                        <h3>
                            <a href="http://projects.latimes.com/value-added/" >
                                Los Angeles Teacher Ratings
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="mezzitem">
                    <div>
                        <a href="http://projects.latimes.com/wardead/" class="mezzphoto">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/thumb-wardead-187x105.png" width="187" height="105"> 
                        </a>
                        <h3>
                            <a href="http://projects.latimes.com/wardead/" target="_blank">
                                California&rsquo;s War Dead
                            </a>
                        </h3>
                    </div>
                </li>
                <li class="mezzitem">
                    <div>
                        <a href="http://documents.latimes.com/" class="mezzphoto">
                            <img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/thumb-documents-187x105.png" width="187" height="105"> 
                        </a>
                        <h3 style=" margin-right:-10px;">
                            <a href="http://documents.latimes.com/" target="_blank">
                                Documents from the newsroom
                            </a>
                        </h3>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div>
        <div></div>
    </div>
</div><!-- close #module mezzanine -->
