<div style="height: 80px;" class="ad centerAd topLeaderboard">
    <script language="JavaScript"  type="text/javascript">
    ord=Math.random()*10000000000000000;document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/trb.latimes/news/datadesk;tile=2;ptype=sf;pos=t;sz=728x90;ord=' + ord + '?" type="text/javascript"><\/script>');</script>
    <noscript>
        <a href="http://ad.doubleclick.net/jump/trb.latimes/news/datadesk;ptype=sf;pos=t;tile=2;sz=728x90;ord=123456789?" target="_blank">
            <img src="http://ad.doubleclick.net/ad/trb.latimes/news/datadesk;ptype=sf;pos=t;tile=2;sz=728x90;ord=123456789?" width="728" height="90" border="0" alt="">
        </a>
    </noscript>
</div>
