<!-- SLIDING BILLBOARD AD -->
<div class="slidingbillboard">
    <script language="JavaScript"  type="text/javascript">ord=Math.random()*10000000000000000;document.write('<script language="JavaScript" src="http://ad.doubleclick.net/adj/trb.latimes/news/datadesk;tile=1;ptype=sf;dcopt=ist;pos=2;sz=1x1;ord=' + ord + '?" type="text/javascript"><\/script>');</script><noscript><a href="http://ad.doubleclick.net/jump/trb.latimes/news/datadesk;ptype=sf;pos=b;tile=1;sz=1x1;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/trb.latimes/news/datadesk;ptype=sf;pos=2;tile=1;sz=1x1;ord=123456789?" width="1" height="1" border="0" alt=""></a></noscript>
</div>
