<div id="classBarNav">
    <ul class="classBarNavMember">
        <li><!-- Hello Visitor --></li>
    </ul>
    <ul class="classBarNavLink">
        <li>
            <a href="http://membership.latimes.com">Member Center</a>
         </li>
        <li>
            <a href="http://membership.latimes.com/alerts-newsletters">Alerts & Newsletters</a>
         </li>
         <li>
            <a href="http://latimes.com/business/jobs/">Jobs</a>
         </li>
         <li>
            <a href="http://www.latimes.com/business/autos/">Cars</a>
         </li>
         <li>
            <a href="http://latimes.com/business/realestate/">Real Estate</a>
         </li>
         <li>
            <a href="http://latimes.com/classified/realestate/rentals/">Rentals</a>
         </li>
         <li>
            <a href="http://circulars.latimes.com/">Weekly Circulars</a>
         </li>
         <li>
            <a href="http://local.latimes.com/custompublishing/">Local Directory</a>
         </li>
        <li style="padding: 2px; position: relative; bottom: 4px; background-color: black; border: 1px solid black; border-radius: 2px 2px 2px 2px;"  class="lastMenuItem">
            <a style="background-color: black; color:white;" href="http://www.latimes.com/advertiser/">Place Ad</a>
         </li>
    </ul>
</div><!-- close #classBarNav -->
