{% extends 'ngux-tophat/base.html' %}
{% load humanize toolbox_tags %}

{% block content %}
<style type="text/css">
    table .data {text-align:right;}
    .table .border-left {border-left:1px solid #aaa;}
</style>

<div class="page-header">
    <h1>LADBS Area Planning Commission Breakdown</h1>
</div>


<div class="row-fluid">
    <div class="span12">
        <h2>By Area Planning Commission</h2>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>APC Region</th>
                    <th class="data">Districts</th>
                    <th class="data">Complaints per inspector</th>
                    <th class="data">Past due</th>
                    <th class="data">Total</th>
                    <th class="data">% past due</th>
                </tr>                
            </thead>
            <tbody>
                {% for r, value in apc_dict.items %}
                <tr>
                    <td>{{ r }}</td>
                    <td class="data">{{ value.districts }}</td>
                    <td class="data">{{ value.complaints_per_inspector }}</td>
                    <td class="data">{{ value.past_due|intcomma }}</td>
                    <td class="data">{{ value.total_complaints|intcomma }}</td>
                    <td class="data">{{ value.percent_past_due|floatformat:2 }}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td>All districts</td>
                    <td class="data">{{ all_complaints_districts }}</td>
                    <td class="data">{{ all_complaints_per_inspector|intcomma }}</td>
                    <td class="data">{{ all_complaints_past_due|intcomma }}</td>
                    <td class="data">{{ all_complaints_total|intcomma }}</td>
                    <td class="data">{{ all_complaints_percent_past_due|floatformat:2 }}</td>
                </tr>
            </tbody>            
        </table>


        <h3>Yearly breakdown</h3>
        <h4>2011</h4>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>APC Region</th>
                    <th class="data">Districts</th>
                    <th class="data">Complaints per inspector</th>
                    <th class="data">past due</th>
                    <th class="data">total</th>
                    <th class="data">% past due</th>
                </tr>                
            </thead>
            <tbody>
                {% for r, value in apc_dict.items %}
                <tr>
                    <td>{{ r }}</td>
                    <td class="data">{{ value.2011_districts }}</td>
                    <td class="data">{{ value.2011_complaints_per_inspector }}</td>
                    <td class="data">{{ value.2011_past_due|intcomma }}</td>
                    <td class="data">{{ value.2011_total|intcomma }}</td>
                    <td class="data">{{ value.2011_percent_past_due|floatformat:2 }}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td>All districts</td>
                    <td class="data">{{ all_complaints_2011_districts }}</td>
                    <td class="data">{{ all_complaints_2011_per_inspector|intcomma }}</td>
                    <td class="data">{{ all_complaints_2011_past_due|intcomma }}</td>
                    <td class="data">{{ all_complaints_2011_total|intcomma }}</td>
                    <td class="data">{{ all_complaints_2011_percent_past_due|floatformat:2 }}</td>
                </tr>
            </tbody>            
        </table>

        <h4>2012</h4>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>APC Region</th>
                    <th class="data">Districts</th>
                    <th class="data">Complaints per inspector</th>
                    <th class="data">past due</th>
                    <th class="data">total</th>
                    <th class="data">% past due</th>
                </tr>                
            </thead>
            <tbody>
                {% for r, value in apc_dict.items %}
                <tr>
                    <td>{{ r }}</td>
                    <td class="data">{{ value.2012_districts }}</td>
                    <td class="data">{{ value.2012_complaints_per_inspector }}</td>
                    <td class="data">{{ value.2012_past_due|intcomma }}</td>
                    <td class="data">{{ value.2012_total|intcomma }}</td>
                    <td class="data">{{ value.2012_percent_past_due|floatformat:2 }}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td>All districts</td>
                    <td class="data">{{ all_complaints_2012_districts }}</td>
                    <td class="data">{{ all_complaints_2012_per_inspector|intcomma }}</td>
                    <td class="data">{{ all_complaints_2012_past_due|intcomma }}</td>
                    <td class="data">{{ all_complaints_2012_total|intcomma }}</td>
                    <td class="data">{{ all_complaints_2012_percent_past_due|floatformat:2 }}</td>
                </tr>
            </tbody>            
        </table>

        <h4>2013</h4>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>APC Region</th>
                    <th class="data">Districts</th>
                    <th class="data">Complaints per inspector</th>
                    <th class="data">past due</th>
                    <th class="data">total</th>
                    <th class="data">% past due</th>
                </tr>                
            </thead>
            <tbody>
                {% for r, value in apc_dict.items %}
                <tr>
                    <td>{{ r }}</td>
                    <td class="data">{{ value.2013_districts }}</td>
                    <td class="data">{{ value.2013_complaints_per_inspector }}</td>
                    <td class="data">{{ value.2013_past_due|intcomma }}</td>
                    <td class="data">{{ value.2013_total|intcomma }}</td>
                    <td class="data">{{ value.2013_percent_past_due|floatformat:2 }}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td>All districts</td>
                    <td class="data">{{ all_complaints_2013_districts }}</td>
                    <td class="data">{{ all_complaints_2013_per_inspector|intcomma }}</td>
                    <td class="data">{{ all_complaints_2013_past_due|intcomma }}</td>
                    <td class="data">{{ all_complaints_2013_total|intcomma }}</td>
                    <td class="data">{{ all_complaints_2013_percent_past_due|floatformat:2 }}</td>
                </tr>
            </tbody>            
        </table>

        <h4>2014</h4>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>APC Region</th>
                    <th class="data">Districts</th>
                    <th class="data">Complaints per inspector</th>
                    <th class="data">past due</th>
                    <th class="data">total</th>
                    <th class="data">% past due</th>
                </tr>                
            </thead>
            <tbody>
                {% for r, value in apc_dict.items %}
                <tr>
                    <td>{{ r }}</td>
                    <td class="data">{{ value.2014_districts }}</td>
                    <td class="data">{{ value.2014_complaints_per_inspector }}</td>
                    <td class="data">{{ value.2014_past_due|intcomma }}</td>
                    <td class="data">{{ value.2014_total|intcomma }}</td>
                    <td class="data">{{ value.2014_percent_past_due|floatformat:2 }}</td>
                </tr>
                {% endfor%}
                <tr>
                    <td>All districts</td>
                    <td class="data">{{ all_complaints_2014_districts }}</td>
                    <td class="data">{{ all_complaints_2014_per_inspector|intcomma }}</td>
                    <td class="data">{{ all_complaints_2014_past_due|intcomma }}</td>
                    <td class="data">{{ all_complaints_2014_total|intcomma }}</td>
                    <td class="data">{{ all_complaints_2014_percent_past_due|floatformat:2 }}</td>
                </tr>
            </tbody>            
        </table>        
    </div>
</div>



{% endblock %}