{% extends 'ngux-tophat/base.html' %}
{% load humanize toolbox_tags %}

{% block extra-css %}
    <link rel="stylesheet" href="http://d1qqc1e9kvmdh8.cloudfront.net/js/leaflet-0.7.2/leaflet.css">
    <style type="text/css">
    body, html {height:100%;}
    h3 {font:14px Arial, sans-serif; margin:0;}
    #tophat, #footer-container #footer {width: auto;}
    #tophat-container {margin-bottom:0;}
    .container {width:100%; height:calc(100% - 100px); padding-bottom:0;}
    .title-holder {position:absolute; top:10px; left:10px; background-color:#fff; background-color:rgba(255,255,255,0.9); width:35%; max-width:500px; z-index:1000; padding:20px; max-height:90%;}
    .sharebuttons {background:none;}
    .map-canvas {width:100%; height:100%;} 
    .map-holder {position:relative; height:100%;}
    .preloader {height: 500px; vertical-align: middle; text-align: center; margin-top: 190px;}
    .legend {padding:10px; width:190px; margin-bottom:10px; position:absolute; z-index:100; background-color:#fff; background-color:rgba(255,255,255,0.9); top:10px; right:45px; border:1px solid #ccc; box-sizing:border-box;}
    .legend div {font:13px Arial, sans-serif; color: #222; }
    .legend h3 {margin:10px 0 4px}
    .legend form {margin-bottom:0;}
    .legend input[type="checkbox"] {margin-top:0;}
    .legend .swatch {float:left; clear:both; height:14px; width:14px; margin-right:5px;position:relative; bottom:-1px; }
    .swatch.round {border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
    .swatch-holder { margin-bottom:3px; }
    .leaflet-container a {color:#FF5443;}
    .leaflet-popup-content h4 { font:16px Arial, sans-serif; font-weight:bold; color:#333; margin-bottom:10px; padding-bottom: 2px; border-bottom: 1px solid #ccc; }
    .leaflet-popup-content p { font:14px Arial, sans-serif; margin:0 0 5px 0;}

    .priority-1 {background-color:#bd0026;}
    .priority-2 {background-color:#f03b20;}
    .priority-3 {background-color:#fd8d3c;}

    .porteno-btn {position:absolute; top:10px; left:10px; z-index:1000; background-color:#fff; background-image:none; color:#222; border:1px solid #ccc; -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65); -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.65); box-shadow: 0 1px 5px rgba(0,0,0,0.65);border-color:#ccc;}
    .porteno-btn:hover {background-color:#e6e6e6; color:#222;}
    .porteno-btn:focus {background-color:#fff; color:#222;}
    .title-holder .porteno-btn {position:static; top:0; left:0;}
    </style>
{% endblock %}

{% block extra-js %}
    <script src="http://d1qqc1e9kvmdh8.cloudfront.net/js/leaflet-0.7.2/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="row-fluid map-holder" id="map-holder">

    <button id="show-intro" class="porteno-btn btn btn-primary btn-sm" style="display:none;">Show intro</button>

    <div class="title-holder visible-desktop">
        <h1>Building and safety complaints open one year after filing</h1>
        <p class="byline">
            By <span class="author">Armand Emamdjomeh</span>
        </p>
        <p class="dateline">
            <time datetime="{{ object.pub_date|date:"Y-m-d" }}" pubdate>{{ object.pub_date }}</time>
        </p>
        <div class="description">
            {{ object.description|safe|linebreaks }}                 
        </div>
        <button id="hide-intro" class="porteno-btn btn btn-primary btn-sm visible-desktop">Hide intro</button>
    </div>

    <div id="map-canvas" class="map-canvas">
        <div class="preloader"><img src="http://d1qqc1e9kvmdh8.cloudfront.net/img/preloader.gif"></div>
    </div>

    <div class="legend">
        <h3>Complaint priority</h3>
        <div class="swatch-holder"><div class="swatch round priority-2"></div>CSR 2</div>    
        <div class="swatch-holder"><div class="swatch round priority-3"></div>CSR 3</div>       
    </div>
</div>

<script type="text/template" id="tooltip-template">
    <h4><a href="/complaint/<%= csr %>/"><%= address %></a></h4>
    <p>CSR number <a href="/complaint/<%= csr %>/"><%= csr %></a></p>
    <p>Received <%= date %></p>
    <% if (closed_date !== null) { %><p>Closed <%= closed_date %></p><% } %>
    <p>Priority <%= priority %> complaint</p>
    <p><%= problem %></p>
</script>

<script type="text/javascript">
    var mapMarkers = {},
        tooltipTemplate = $('#tooltip-template').html(),
        winWidth = $(window).width();

    var defaultRadius = 3,
        hoverRadius = 8,
        maxZoom = 16,
        minZoom = 11,
        zoomRadius;

    var pointStyles = {
        "3": {
            weight: 0,
            fillColor: '#fd8d3c',
            fillOpacity: .8                
        },
        "2": {
            weight: 0,
            fillColor: '#f03b20',
            fillOpacity: .8              
        },
        "1": {
            weight: 0,
            fillColor: '#bd0026',
            fillOpacity: .8              
        }
    };

    var neighborhoodFillColors = ['#f2f0f7','#cbc9e2','#9e9ac8','#756bb1','#54278f'];

    if (winWidth > 980) {
        zoomRadius = {
            11: 3,
            12: 3,
            13: 3,
            14: 3.5,
            15: 4,
            16: 5
        };      
    } else {
        zoomRadius = {
            11: 3,
            12: 3,
            13: 3,
            14: 3.5,
            15: 5,
            16: 7
        };
    }

    var mapOptions = {
        minZoom: minZoom,
        maxZoom: maxZoom,
        scrollWheelZoom: true,
        maxBounds:  new L.LatLngBounds(
            new L.LatLng(34.54163119530972, -117.32437133789061),
            new L.LatLng(33.55627344791359, -119.67681884765624)
        ),
        attributionControl: true,
        zoomControl: false   
    };        
    var map = new L.Map('map-canvas', mapOptions),
        center = new L.LatLng(34.0500,-118.5000);

    L.Map.prototype.addQuietLaBaseLayer = function(version) {
        var layerOptions = {
                attribution: "Map data (c) <a href='http://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
                subdomains: [
                    'tiles1',
                    'tiles2',
                    'tiles3',
                    'tiles4'
                ]
            };
        var url = "http://{s}.latimes.com/quiet-la-" + version + "/{z}/{x}/{y}.png";    
        this.addLayer(new L.TileLayer(url, layerOptions));
    }; 

    var onEachFeature = function(feature, layer) {
        var props = feature.properties,
            priority = props["priority"];

        var context = {
            address: props["address"],
            csr: props["csr"],
            date: props["date"],
            closed_date: props["closed"],
            priority: priority,
            problem: props["type"],
        };

        var popupContent = _.template(tooltipTemplate, context);
        layer.bindPopup(popupContent);

        layer.on('mouseover', function(){ 
            this.setRadius(hoverRadius).bringToFront(); 
        })
        .on('mouseout', function(){
            this.setRadius(zoomRadius[map.getZoom()]);
        });        
    };

    var pointToLayer = function(feature, latlng) {
        var priority = feature.properties['priority'];
        var marker = new L.CircleMarker(latlng, pointStyles[priority]).setRadius(defaultRadius);
        mapMarkers[feature.properties.id] = marker;

        return marker;
    };

    map.setView(center,minZoom);
    map.addQuietLaBaseLayer("0.4.0");

    var complaintsLayer, closedComplaintsLayer, complaintLayers;

    $.getJSON('/api/complaints.json', function(data) {
        var features = data.features;
        // Only filtering in level 2 complaints, temporarily
        complaintsLayer = L.geoJson(features, {
            onEachFeature: onEachFeature,
            pointToLayer: pointToLayer
        });

        $.getJSON('/api/closed_complaints.json', function(data) {
            var features = data.features;
            closedComplaintsLayer = L.geoJson(features, {
                onEachFeature: onEachFeature,
                pointToLayer: pointToLayer
            });

            complaintLayers = {
                "Open": complaintsLayer,
                "Closed": closedComplaintsLayer
            };

            map.addLayer(complaintsLayer);
            map.addLayer(closedComplaintsLayer);
            L.control.layers(null, complaintLayers, {collapsed: false, position:'bottomright'}).addTo(map);
        });

    });

    $.getJSON('{{STATIC_URL}}json/la_city.json', function(data) {
        var la_city_styles = {
            color: '#444444',
            dashArray: '5, 5',
            fillOpacity: 0,
            opacity: 1,
            weight: 1
        };

        var la_city_layer = L.geoJson(data.features, {
            style: la_city_styles
        });

        map.addLayer(la_city_layer);
    });

    new L.Control.Zoom({ position: 'topright' }).addTo(map);

    map.on('zoomend', function(){
        var currentZoom = map.getZoom(),
            newRadius = zoomRadius[currentZoom];
        
        for (marker in mapMarkers) {
            var feature = mapMarkers[marker];
            feature.setRadius(newRadius);
        }
    }).on('popupopen', function(e) {
        var px = map.project(e.popup._latlng);
        px.y -= e.popup._container.clientHeight/2
        map.panTo(map.unproject(px),{animate: true});
    });


    $('#container')
        .on('click', '#hide-intro', function() {
            $('.title-holder').removeClass('visible-desktop').css({'display':'none'});
            $('#show-intro').css({'display':'block'});  
        })
        .on('click', '#show-intro', function() {
            $('.title-holder').addClass('visible-desktop').css({'display':'block'});
            $('#show-intro').css({'display':'none'});  
        });

</script>

{% endblock %}