{% extends 'ngux-tophat/big-map.html' %}

{% block big-box-headline %}LADBS Inspection Districts{% endblock %}
{% block big-box-dateline %}<time datetime="2014-10-15" pubdate>October 15, 2014</time>{% endblock %}
{% block big-box-description %}<p>Inspection districts and caseload in each since July 13, 2013.</p>{% endblock %}
{% block big-box-sources %}Times analysis, L.A. Department of Building and Safety{% endblock %}
{% block big-box-credits %}<a href="http://www.latimes.com/la-bio-richard-oreilly-staff.html">Richard O'Reilly</a>{% endblock %}

{% block small-box-headline %}LADBS Inspection Districts{% endblock %}
{% block small-box-modal-headline %}LADBS Inspection Districts{% endblock %}
{% block small-box-modal-description %}<p>Inspection districts and caseload in each.</p>{% endblock %}

{% block extra-css %}
    {{block.super}}
    <style type="text/css">
    .leaflet-popup-content h4 { font:16px Arial, sans-serif; font-weight:bold; color:#333; margin-bottom:10px; padding-bottom: 2px; border-bottom: 1px solid #ccc; }
    .leaflet-popup-content p { font:14px Arial, sans-serif; margin:0 0 5px 0;}
    </style>
{% endblock %}

{% block body-bottom %}
<script type="text/javascript" src="/api/inspection-districts.geojson"></script>

<script type="text/template" id="tooltip-template">
    <h4>District number <%= dist_number %></h4>
    <p><%= dist_complaints %> complaints</p>
    <p><%= dist_median_wait %> days median wait</p>
    <p><%= dist_mean_wait %> days mean wait for response</p>
    <p>(using KMF survival analysis, complaints filed since July 13, 2013)</p>
</script>

<script type="text/javascript">
    var map = L.map('big-map-canvas', {zoomControl: false}).setView([34.0425, -118.44], 11);
    var tileUrl = "http://{s}.latimes.com/quiet-la-0.4.0/{z}/{x}/{y}.png";
    L.tileLayer(tileUrl, {
        minZoom: 8,
        maxZoom: 16,
        maxBounds: new L.LatLngBounds(
            new L.LatLng(36.1912, -112.044),
            new L.LatLng(31.5037, -122.3272)
        ),
        attribution: "Map data (c) <a href='http://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
        subdomains: ['tiles1', 'tiles2', 'tiles3', 'tiles4']
    }).addTo(map);
    new L.Control.Zoom({ position: 'topright' }).addTo(map);


    var tooltipTemplate = $('#tooltip-template').html(),
        colorScale = ['#f2f0f7','#cbc9e2','#9e9ac8','#756bb1','#54278f'],
        breakpoints = {{ breakpoints }};


    var getColor = function(n) {
        for (var i = breakpoints.length - 1; i >= 0; i--) {
            if (n > breakpoints[i]) {
                return colorScale[i];
            } else if (n === breakpoints[0]) {
                return colorScale[0];
            }
        }
    };

    var districtStyle = function(feature) {
        return {
            fillColor: getColor(feature.properties.num_complaints),
            weight: 1,
            opacity: 1,
            color: '#fff',
            fillOpacity: 0.7,
        };
    };

    var onEachFeature = function(feature, layer) {
        var props = feature.properties;

        var context = {
            dist_number: props.dist,
            dist_complaints: props.num_complaints,
            dist_mean_wait: props.mean_wait.toFixed(2),
            dist_median_wait: props.median_wait
        };

        var popupContent = _.template(tooltipTemplate, context);
        layer.bindPopup(popupContent);

        layer.on("mouseover", function(){
            this.setStyle({ fillOpacity: 0.8 }).bringToFront();
        }).on("mouseout", function(){
            this.setStyle({ fillOpacity: 0.7 });
        });

    };

    var districtsLayer = L.geoJson(districts, {
        onEachFeature: onEachFeature,
        style: districtStyle
    });
    districtsLayer.addTo(map);

</script> 
{% endblock %}