{% extends 'ngux-tophat/base.html' %}
{% load humanize toolbox_tags %}

{% block content %}
<div class="page-header">
    <h1>Complaints by Zip code</h1>
</div>

<div class="row-fluid">
    <div class="span12">
            <thead>
                <tr>
                    <th>Zip code</th>
                    <th>> 1 yr to response</th>
                    <th>total complaints</th>
                    <th>% > 1 yr</th>
                    <th>Avg days to resolve</th>
                </tr>                
            </thead>
            <tbody>
                {% for z in zips %}
                <tr>
                    <td>{{ z }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>    
    </div>
</div>

{% endblock %}